@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #34cb79;
  --color-title: #322153;
  --color-text: #6c6c80;
}

body {
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
}

body,
input,
button,
select,
textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  font-family: "Ubuntu", sans-serif;
}
